footer {

  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #f5f7fa;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 0 auto;
  display: block ;
  width: 94%;
  max-width: 1200px;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
  position: sticky;
  justify-content: space-between;
  z-index: 100;

}