/*tabs with topics*/
.tabs_content{
    overflow:scroll;
    display: grid;
    grid-template-rows: 70px auto 1fr;
    grid-template-areas: 
    'categoriesArea'
    'carouselArea'
    'videosArea';
    grid-row: 1/2;
    grid-column: 1/3;
    overflow: hidden;
}
.categories{
    grid-area: categoriesArea;
    height: 70px;
    white-space: nowrap;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    
    
}
.categoryItem{
    text-align: center;
    justify-self: center;
    display: inline-block;
    border-radius: 25px;
    background-color: #EBEBEB;
    line-height: 1.5em;
    min-width: 50px;
    margin: 16px 4px;
    padding: 5px 10px;
}
.category:nth-child(1)
{
    background-color: #F6AF44;
    color: white;
}


/*videos*/
.movie_card {
    color: #5d5e5e;
    overflow: hidden;
}

.movie_card .preview img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.movie_card .description {
    height: 60px;
    display: grid;
    grid-template-columns: 30px auto 10px;
    align-items: center;
}


.main_panel {
    padding: 15px 10px 0px 15px;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    margin-right: 5px;
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    margin-bottom: 25px;
}

.main_panel .videos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
}



.preview {
    overflow: hidden;
    position: relative;
}

.preview .live-icon {
    position: absolute;
    top: 5px;
    left: 5px;
    background: red;
    color: white;
    padding: 5px;
    border-radius: 0.3em;
    cursor: pointer;
}

.preview .paw {
    display: none;
    position: absolute;
    top: 45%;
    left: 45%;
    font-size: xx-large;
    color: white;
    cursor: pointer;
}

.preview:hover .paw {
    display: block;
}

.preview:hover .preview_img::after {
    animation: fadein 2s;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.preview .viewers,
.preview .duration {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px;
    border-radius: 0.3em;
    cursor: pointer;
}

.description .avatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description .avatar img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.description .names {
    width: 100%;
    display: grid;
    white-space: nowrap;
    padding-left: 10px;
}

.description .names span {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.description .names span:hover {
    color: #8957fe;
}

.description .names span::selection,
.description span.detail::selection {
    background: #361e6d;
    color: white;
}

.description .video-name {
    font-size: large;
    color: black;
}

.description .options{
    cursor: pointer;
}

/*slyder*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
*, *:before, *:after {
  box-sizing: border-box;
}

.slider {
  height: 28%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__image {
  font-size: 2.7rem;
      color: #2196F3;
}
.slider__caption {
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.slider__txt {
  color: #999;
  margin-bottom: 3rem;
  max-width: 300px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}
