*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    
    background:#f5f7fa ;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    font-family: Montserrat;
    height: 100%;

}


::selection{
    color:white;
    background-color: #F6AF44;
}


.wrapper{
    background: #fff;
    display: flex ;
    width: 94%;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
    
}





   
    .text {

        width: 100%;
        position: absolute;
        transform: translateY(-50%);
        font-family: 'Oswald', sans-serif;
        line-height: 60px;
   }
    .text span {
        color: #93a2b5;
        font-size: 70px;
        font-weight: bold;
        display: inline-block;
        letter-spacing: 5px;
        transition: 2s;
        text-shadow: 0px 0px 0px #253040;
        position: relative;
        top: 0px;
        left: 0px;
        cursor: default;
   }
    .text span:hover {
        text-shadow: -8px 8px 0px #253040;
        transition: 0.3s;
        top: -8px;
        left: 8px;
   }
    .text span.space {
        width: 20px;
        height: 100%;
   }



    .nexttheme {
        color: #93a2b5;
        transform: translateY(-50%);
        font-family: 'Oswald', sans-serif;
        line-height: 60px;
    }
















    .container {
        max-width: 600px;
        margin-left: -35px;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
  
    .tabs {
        display: flex;
        flex-direction: column;
    }
  
    .tabs__links {
          margin-left: 0px;
        display: flex;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        margin-bottom: 10px;
        order: 0;
        white-space: nowrap;
        background-color: #1f2b3d;
        border: 1px solid #1f2b3d;
        box-shadow: 0 2px 4px 0 #1e2939;
    }
  
    .tabs__links>a {
        display: inline-block;
        text-decoration: none;
        padding: 6px 10px;
        text-align: center;
        font-weight: 600;
        color: #606873;
    }
  
    .tabs__links>a:hover {
        background-color: rgb(40, 51, 66);
    }
  
    .tabs>#content-1:target~.tabs__links>a[href="#content-1"],
    .tabs>#content-2:target~.tabs__links>a[href="#content-2"],
    .tabs>#content-3:target~.tabs__links>a[href="#content-3"] {
        background-color: #273c5c;
        cursor: default;
    }
  
    .tabs>div:not(.tabs__links) {
        display: none;
        order: 1;
    }
  
    .tabs>div:target {
        display: block;
    }